html {
  font-size: 14px;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

.doortitle {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 3.25rem;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #555555;
  color: #000000;
}

a:hover {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

.title {
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
  font-weight: bold;
  border: none;
  color: black;
  text-align: center;
}

.titlespan:hover {
  cursor: pointer;
}

.doors {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1.5rem;
  font-weight: bold;
}

.door:hover, .door2:hover {
  background-color: #337733;
}

.door:hover {
  cursor: pointer;
}

.doors2 {
  display: none;
  justify-content: center;
  margin: 2rem 0 1.5rem;
  font-weight: bold;
}

.door,
.door2 {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  color: #ffffff;
  background-image: none;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0 1rem;
  text-align: center;
}

#message {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto 2rem auto;
  text-align: center;
  max-width: 38rem;
}

footer {
  font-size: 0.9rem;
  color: #555555;
  border-top: 1px solid #bbbbbb;
}

.last-footer {
  margin-bottom: 2rem;
}

.lose {
  color: darkred;
  font-weight: bold;
}

.win {
  color: darkgreen;
  font-weight: bold;
}

.reset {
  display: none;
}

.buttons {
  display: flex;
  margin: 1.5rem 0 2rem;
  justify-content: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

#statsButton, #resetButton {
  display: none;
}

#rulesButton, #statsButton, #resetButton, #aboutButton {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

#rulesButton:hover, #statsButton:hover, #resetButton:hover, #aboutButton:hover {
  background-color: white;
}

#resetButton, #aboutButton, #statsButton {
  margin-left: 1rem;
}

#statsButton:hover,
#resetButton:hover,
#rulesButton:hover,
#aboutButton:hover {
  cursor: pointer;
}

#door1,
#door12 {
  margin-left: 0;
}

#door3,
#door32 {
  margin-right: 0;
}

ul {
  padding-left: 1.25rem;
  margin: 1rem 0;
}

li {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

.last-li {
  padding-bottom: 0;
}

/* sticky footer */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* end sticky footer */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 37rem;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
#rulesClose, #aboutClose, #statsClose {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

/* END MODAL */
@media screen and (max-width: 100000px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 15.5px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 13.5px;
  }

  .door, .door2 {
    padding: 1rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 600px) {
  .door, .door2 {
    padding: 0.75rem;
    margin: 0 0.75rem;
  }

  .title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 375px) {

  #statsButton,
  #resetButton,
  #rulesButton,
  #aboutButton {
    padding: 0.5rem;
    font-size: 0.95rem;
  }

  .doors, .doors2 {
    font-size: 1rem;
  }

  .doortitle {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem;
  }
}